# <span style="color:green"> Webscrapping of TATA IPL Auctiion </span>

In [ ]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [ ]:
url = "https://www.iplt20.com/auction"
r = requests.get(url)
print(r)

<Response [200]>

In [ ]:
soup = BeautifulSoup(r.text,"lxml")
table = soup.find("table",class_="ih-td-tab auction-tbl")
table

<table class="ih-td-tab auction-tbl" id="t3" width="100%">
<thead>
<tr class="ih-pt-tbl" style="display:revert">
<th class="skip-filter" style="width:25%;text-align: left;">TEAM</th>
<th class="skip-filter" style="width:25%;">FUNDS REMAINING</th>
<th class="skip-filter" style="width:25%;">OVERSEAS PLAYERS </th>
<th class="skip-filter" style="width:25%;">TOTAL PLAYERS</th>
</tr>
<thead>
</thead></thead><tbody id="pointsdata">
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190443_CSKroundbig%20%283%29%201.png"/>
</div>
<h2 class="ih-pt-cont">Chennai Super Kings</h2>
</div>
</td>
<td>₹1,50,00,000</td>
<td>8</td>
<td>25</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190785_DCroundbig%20%282%29%201.png"/>
</div>
<h2 class="ih-pt-cont">Delhi Capitals</h2>
</div>
</td>
<td>₹4,45,00,000</td>
<td>8</td>
<td>25</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190498_GTroundbig%20%282%29%201.png"/>
</div>
<h2 class="ih-pt-cont">Gujarat Titans</h2>
</div>
</td>
<td>₹4,45,00,000</td>
<td>8</td>
<td>25</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190381_KKRroundbig%20%282%29%201.png"/>
</div>
<h2 class="ih-pt-cont">Kolkata Knight Riders</h2>
</div>
</td>
<td>₹1,65,00,000</td>
<td>8</td>
<td>22</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190538_LSGroundbig%20%283%29%201.png"/>
</div>
<h2 class="ih-pt-cont">Lucknow Super Giants</h2>
</div>
</td>
<td>₹3,55,00,000</td>
<td>8</td>
<td>25</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190671_MIroundbig%20%283%29%201.png"/>
</div>
<h2 class="ih-pt-cont">Mumbai Indians</h2>
</div>
</td>
<td>₹5,00,000</td>
<td>8</td>
<td>24</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671188073_PBKSroundbig%20%282%29%201.png"/>
</div>
<h2 class="ih-pt-cont">Punjab Kings</h2>
</div>
</td>
<td>₹12,20,00,000</td>
<td>7</td>
<td>22</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190713_RRroundbig%20%283%29%201.png"/>
</div>
<h2 class="ih-pt-cont">Rajasthan Royals</h2>
</div>
</td>
<td>₹3,35,00,000</td>
<td>8</td>
<td>25</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190586_RCBroundbig%20%282%29%201.png"/>
</div>
<h2 class="ih-pt-cont">Royal Challengers Bangalore</h2>
</div>
</td>
<td>₹1,75,00,000</td>
<td>8</td>
<td>25</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190639_SRHroundbig%20%282%29%201.png"/>
</div>
<h2 class="ih-pt-cont">Sunrisers Hyderabad</h2>
</div>
</td>
<td>₹6,55,00,000</td>
<td>8</td>
<td>25</td>
</tr>
</tbody>
</table>

In [ ]:
header = table.find_all("th")
header

[<th class="skip-filter" style="width:25%;text-align: left;">TEAM</th>,
 <th class="skip-filter" style="width:25%;">FUNDS REMAINING</th>,
 <th class="skip-filter" style="width:25%;">OVERSEAS PLAYERS </th>,
 <th class="skip-filter" style="width:25%;">TOTAL PLAYERS</th>]

In [ ]:
titles = []
for i in header:
    title = i.text
    titles.append(title)
print(titles)

['TEAM', 'FUNDS REMAINING', 'OVERSEAS PLAYERS ', 'TOTAL PLAYERS']

In [ ]:
#create a dataframe
df = pd.DataFrame(columns = titles)
df

Empty DataFrame
Columns: [TEAM, FUNDS REMAINING, OVERSEAS PLAYERS , TOTAL PLAYERS]
Index: []

In [ ]:

rows = table.find_all("tr")
for i in rows[1:]:
    data = i.find_all("td")
    row = [tr.text for tr in data]
    l = len(df)
    df.loc[l] = row
df

,TEAM,FUNDS REMAINING,OVERSEAS PLAYERS,TOTAL PLAYERS
0,\n\n\n\n\nChennai Super Kings\n\n,"₹1,50,00,000",8,25
1,\n\n\n\n\nDelhi Capitals\n\n,"₹4,45,00,000",8,25
2,\n\n\n\n\nGujarat Titans\n\n,"₹4,45,00,000",8,25
3,\n\n\n\n\nKolkata Knight Riders\n\n,"₹1,65,00,000",8,22
4,\n\n\n\n\nLucknow Super Giants\n\n,"₹3,55,00,000",8,25
5,\n\n\n\n\nMumbai Indians\n\n,"₹5,00,000",8,24
6,\n\n\n\n\nPunjab Kings\n\n,"₹12,20,00,000",7,22
7,\n\n\n\n\nRajasthan Royals\n\n,"₹3,35,00,000",8,25
8,\n\n\n\n\nRoyal Challengers Bangalore\n\n,"₹1,75,00,000",8,25
9,\n\n\n\n\nSunrisers Hyderabad\n\n,"₹6,55,00,000",8,25

In [ ]:
df.to_csv("IPL_Auction_2023.csv")